# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# node js
node_modules/

**/out/
**/.vscode-test/

*.vsix

# ignore some temporary test folders
ptxTestProj/
